<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ctrl.ph - Verification Link</title>
    <meta
      name="description"
      content="Received this email after a successful sign up."
    />
    <style>
      div { text-align: center; } .logo { min-height: 50px; margin-top: 100px; }
      .thank-you { margin-top: 50px; } .message { margin-top: 50px; } .face-btn
      { background-color: #408AD7; border: 0; color: #ffffff; border-radius:
      20px; padding: 10px; font-size: 15px; font-weight: bold; cursor: pointer;
      text-decoration: none; }
    </style>
  </head>
  <body>
    <div class="logo">
      <h1>ctrl.ph</h1>
    </div>
    <div class="thank-you">
      <h3>Hi {{fullName}},</h3>
    </div>

    <div class="message">
      <p>Thank you for signing up! To start exploring the ctrl.ph please confirm
        your email address.</p><br />
      <p><a class="face-btn" href="{{verificationLink}}" target="_blank">Verify
          your account</a></p><br />
      <p>
        Or verify using this link:<br />
        <a
          href="{{verificationLink}}"
          target="_blank"
        >{{verificationLink}}</a><br />
        This verification link will expire in 24 hours.
      </p><br />
      <p>If you did not create ctrl.ph account using this address, kindly
        contact our support team at official.ctrl.ph@gmail.com.</p>
    </div>
  </body>
</html>